:root {
  --darkgray: rgb(50,50,50);
  --lightgray: rgb(200,200,200);
  --greengray: rgb(127,200,127);
  --mauve: rgb(200,127,127);
}

html {
  font-size: 2vw;
}

body {
  font-family: Roboto, Helvetica, Consolas, sans;
  background-color: var(--darkgray);
  color: white;
}

h1 {
  font-size: 5em;
  margin-bottom: 0;
  margin-top: 0;
  font-weight: 900;
  font-family: Futura, ‘Century Gothic’, AppleGothic, sans-serif
}

p {
  font-style: italic;
  font-family: Georgia, Times, ‘Times New Roman’, serif;
  margin-top: 0;
}

section#content {
  background-color: var(--lightgray);
  font-size: 1.5rem;
}

div#game {
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  text-align: center;
}

div#game > div:not(top) {
  flex: 1;
  height: 100vh;
  min-height: 100vh;
  padding: 2rem;
}

#top, body > * {
  padding: 1rem;
}

#modifier, #autoclick {
/*  background-color: var(--mauve); */
  background-color: gray;
}
#per_click {
  background-color: var(--greengray);
}

.round {
  border-radius: 50%;
  padding: calc(1rem/3);
}

.button {
  display: flex;
  justify-content: center; /* align horizontal */
  align-items: center; /* align vertical */
  width: 16vw;
  height: 16vw;
  cursor: default;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;
}

#per_click:hover {
  cursor: pointer
}
